.fieldset {
  width: 300px;
}

.chrome-ext-window {
  width: 302px;
  height: 387px;
  position: relative;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
  padding-top: 10px;
  padding-left: 15px;
}

.user-profile {
  margin-inline: 25px;
  margin-top: 6px;
}

.my-avatar {
  display: flex;
  text-align: center;
}

.closeicon {
  opacity: 0%;
}

.save-link-button {
  background: black;
  color: white;
  border-radius: 5px;
  padding-block: 5px;
  width: 5rem;
  border: none;
  margin-right: 16px;
  margin-top: 8px;
  cursor: pointer;
}

.grid-modal {
  margin-top: 0.5rem;
  margin-inline: 15px;
  font-size: 0.9rem;
  display: grid;
  text-align: left;
  max-width: 100%;
  max-height: calc(60vh);
  padding-top: 0px;
  padding-bottom: 5px;
  background: rgb(255, 255, 255);
  gap: 10px;
}

input.oneline-link {
  margin-block: 1px;
  margin-inline: 0px;
  padding: 10px;
  font-size: 14px;
  width: 85%;
  color: #7a7a7a;
  border: 1px solid #e9e8e9;
  border-radius: 8px;
  outline: none;
  overflow: hidden;
}

input.oneline-title {
  background-color: rgb(246, 246, 246);
  margin-block: 1px;
  margin-inline: 10px;
  padding-block: 7px;
  padding-inline: 0px;
  font-size: 0.9rem;
  font-weight: 700;
  width: 72vw;
  border-width: 0.1px;
  border: none;
  overflow: hidden;
}

textarea.paragraph-linkdescription {
  margin-block: 1px;
  margin-inline: 0px;
  padding-block: 2px;
  padding-inline: 0px;
  resize: none;
  border: 1px solid white;
  font-size: 14px;
  border: 0;
  outline-style: none;
  box-shadow: none;
  width: 72vw;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.paragraph-linkdescription::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.paragraph-linkdescription {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

fieldset {
  border: 0;
  outline-style: none;
}

.popup-content-header-chrome {
  margin-left: 0.5rem;
  margin-bottom: 0.6rem;
  color: gray;
  font-size: 13px;
}

footer {
  position: fixed;
  font-size: 12px;
  left: 0;
  bottom: 0;
  width: 100%;
}

.my-blips {
  display: flex;
  align-items: center;
  padding: 1px;
  text-align: center;
  justify-content: center;
  background-color: white;
  width: 11.5rem;
  font-size: 13px;
  border: 2px solid black;
  border-radius: 20px;
  cursor: pointer;
}

.my-blips:hover {
  border: 2px solid #8c8c8c;
}

.user-stats {
  text-align: right;
  margin-bottom: 20px;
  margin-left: 100px;
}

.user-profile-stats-btn {
  color: #656465;
  font-size: 11px;
  margin-left: 6px;
}

.bloop-logo {
  width: 20px;
  height: 20px;
  margin-left: 18px;
  margin-bottom: -26px;
}

.star-icon {
  width: 20px;
  height: 20px;
  margin-right: 6px;
}
