
.fieldset{
  width: 300px;
}

.chrome-ext-window{
  width: 302px;
  height: 387px;
  position: relative;
}

.form-description{
    padding-left: 10px;
    font-size: 14px;
}
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
  padding-top: 10px;
  padding-left: 15px;
}

.save-link-button{
    background: black;
    color: white;
    border-radius: 5px;
    padding: 5px;
    border: none;
    margin-right: 15px;
}


.grid-modal {
  margin-top: 2rem;
  margin-inline: 15px;
  font-size: 0.9rem;
  display: grid;
  text-align: left;
  max-width: 100%;
  max-height: calc(60vh);
  padding-top: 0px;
  padding-bottom: 5px;
  background: rgb(255, 255, 255);
  gap: 10px;
}


input.oneline-link{
  margin-block:1px;
  margin-inline: 0px;
  padding-block: 7px;
  padding-inline: 0px;
  font-size: 12px;
  width: 100%;
  border-top: solid;
  border-color:rgba(0, 0, 0, 0.138);
  border-right: none;
  border-left: none;
  border-bottom: none;
  overflow:hidden;
}

input.oneline-title{
  background-color:rgb(246, 246, 246);
  margin-block:1px;
  margin-inline: 10px;
  padding-block: 7px;
  padding-inline: 0px;
  font-size: .9rem;
  font-weight: 700;
  width: 72vw;
  border-width: .1px;
  border: none;
  overflow:hidden;
}

textarea.paragraph-linkdescription{
  margin-block:1px;
  margin-inline: 0px;
  padding-block: 7px;
  padding-inline: 0px;
  resize: none;
  border: 2px solid #ccc;
  font-size: 13px;
  border:0ch;
  width: 72vw;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

fieldset{
  border-radius: 0.5rem;
  margin-block: 1rem;
}

.popup-content-header-chrome{
  margin-left: .5rem;
  margin-bottom: .8rem;
  color: gray;
  font-size: 13px;
}