.dropdown-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.dropdown-selected {
  display: flex;
  color: #656465;
  font-size: 12px;
  font-weight: 600;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: #f8f8f8;
  border: 1px solid #f8f8f8;
  border-radius: 5px;
  padding: 0 16px;
  cursor: pointer;
}

.dropdown-selected-manage {
  color: #777777;
  font-size: 11px;
}

.dropdown-options {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  background-color: #f8f8f8;
}

.dropdown-option {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  cursor: pointer;
}

.dropdown-option-image {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.dropdown-option-label {
  font-size: 12px;
  font-weight: bold;
  color: #656465;
}

.dropdown-option-description {
  font-size: 12px;
  font-weight: normal;
  color: #777777;
}

.dropdown-selected-manage:hover {
  color: #000000;
}

.dropdown-selected-manage:active {
  transform: translateY(1px);
}

.dropdown-option:hover {
  background-color: #f0f0f0;
}

.dropdown-option:last-child {
  border-bottom: none;
}
