.inactive-save-button{
    background: #374151;
    color: white;
    border-radius: 5px;
    padding-block: 5px;
    width: 5rem;
    border: none;
    margin-right: 15px;
    cursor: pointer;
}

.save-link-tolist-button{
    background: rgb(0, 0, 0);
    color: white;
    border-radius: 5px;
    padding-block: 5px;
    width: 5rem;
    border: none;
    margin-right: 15px;
    cursor: pointer;
}

.newlist-button-chrome{
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: calc(-0.5*250px);
    font-size: normal;
    padding: 5px 15px;
    width: 250px;
    font-weight: 500;
    color: #656465;
    border: solid 2px;
    border-radius: 15px;
    border-color: grey;
    background-color: white;
    cursor: pointer;
  }
  
  .newlist-button-chrome:hover {
    color: black;
    border-color: black;
  }

  .newlist-button-chrome:active{
    color: white;
    background-color: black;
  }


  .list-popup-content-chrome {
    padding: 16px;
    margin-inline: .5rem;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 240px;
    overflow-x: hidden;
  }

  .addToListTitle{
    font-size: 14px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 2px;
    color: #656465;
  }