.popup-content-chrome {
  padding: 16px;
  margin-inline: 0.5rem;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 285px;
  overflow-x: hidden;
  overflow-y: auto;
}

.popup-content-chrome::-webkit-scrollbar-track {
  background: none; /* Hide the scrollbar track */
}

.popup-content-chrome::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5); /* You can adjust color/transparency as you like */
}

/* Set scrollbar styling for Firefox */
.popup-content-chrome {
  scrollbar-width: thin; /* Adjust the width of the scrollbar for Firefox */
  scrollbar-color: rgba(0, 0, 0, 0.5) transparent; /* Style the thumb but make the track transparent */
}

.modal-header .collectionTitle{
  position: absolute;
  left: 30px;
  font-size: 1rem;
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
  text-decoration: none;
  color: black;
}