.select-list-container {
  display: flex;
  cursor: pointer;
  flex-direction: row;
  position: relative;
  height: 60px;
  gap: 0.4rem;
  padding-left: 1rem;
  padding-right: 0.6rem;
  padding-top: 2rem;
  padding-bottom: 0.3rem;
  border-radius: 10px;
  margin-block: 0.6rem;
  max-width: 30rem;
  box-shadow: 0px 0px 6px -1px rgb(0 0 0 / 0.1),
    0px 0px 4px -2px rgb(0 0 0 / 0.1);
  /* Center on mobile */
  @media (max-width: 767px) {
    justify-content: flex-start;
  }

  /* Align to left on desktop */
  @media (min-width: 768px) {
    justify-content: flex-start;
  }
}

.select-list-container .selected-list-check-icon{
  position: absolute;
  width: 20px;
  height: 25px;
  bottom: 25px;
  right: 15px;
  opacity: 0%;

}

.selected-list-container {
  display: flex;
  cursor: pointer;
  flex-direction: row;
  position: relative;
  height: 60px;
  gap: 0.4rem;
  padding-left: 1rem;
  padding-right: 0.6rem;
  padding-top: 2rem;
  padding-bottom: 0.3rem;
  border-radius: 10px;
  margin-block: 0.6rem;
  max-width: 30rem;
  background-color: rgb(227, 227, 227);
  box-shadow: 0px 0px 25px -5px rgb(0 0 0 / 0.1),
    0px 0px 10px -6px rgb(0 0 0 / 0.1);
  /* Center on mobile */
  @media (max-width: 767px) {
    justify-content: flex-start;
  }

  /* Align to left on desktop */
  @media (min-width: 768px) {
    justify-content: flex-start;
  }
}

.selected-list-container .selected-list-check-icon{
  position: absolute;
  bottom: 20px;
  right: 15px;
  width: 25px;
  height: 25px;
  opacity: 100%;
}

.listInfo {
  position: absolute;
  top: 8px;
  left: 1rem;
  width: fit-content;
  padding: 3px;
  font-size: 10px;
  font-style: normal;
  color: rgba(0, 0, 0, 0.49);
  border: 0px;
  border-radius: 2px;
}

.OurSearchResultTitleTest {
  font-size: 1rem;
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
  text-decoration: none;
  color: black;
  position: relative;
}
.OurSearchResultTitleTest .icon{
  opacity: 0%;
  position: absolute;
  right: 3px;
  height: 20px;
  width: 20px;
}


.PrivateSearchResultTitleTest {
  font-size: 1rem;
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
  text-decoration: none;
  color: black;
  background-color: #e4e4e5;
  border-radius: 3px;
  border: 0px;
  padding-left: 3px;
  padding-block: 3px;
  padding-right: 29px;
  position: relative;
}

.PrivateSearchResultTitleTest .icon{
  position: absolute;
  opacity: 100%;
  right: 4px;
  height: 20px;
  width: 20px;
}

.OurSearchResultDescriptionTest {
  font-size: 0.8rem;
  color: #545454;
  overflow: hidden;
  white-space: break-spaces;
  text-overflow: ellipsis;
  max-height: 3rem;
}

.OurSearchResultUrlTest {
  font-size: 0.7rem;
  color: black;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list-text-description {
  font-size: 11px;
  margin-top: 4px;
  height: 25px;
  overflow: hidden;
}

.blip-text {
  color: black;
}
