.popup-content-chrome-addlist {
  padding-inline: 16px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: scroll;
  height: 335px;
}
.popup-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.ListTitleField {
  width: 99%;
  font-size: 13px;
  background: rgba(128, 128, 128, 0.1);
  border-bottom: solid;
  border-color: rgba(128, 128, 128, 0.674);
  border-width: 1px;
  border-top: none;
  border-left: none;
  border-right: none;
}
.descriptionTitleField {
  width: 99%;
  height: 35px;
  font-size: 11px;
  background: rgba(128, 128, 128, 0.1);
  border: none;
}

.starredContainer {
  position: relative;
}
