.popup-content-chrome-addlist {
  padding-inline: 16px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  height: 335px;
}
.popup-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.addListTitle {
  font-size: 13px;
  margin-left: 20px;
  margin-right: 20px;
  color: #656465;
}

.ListTitleField {
  width: 92%;
  color: #000000;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  font-weight: 500;
  padding: 8px;
  border: 1px solid black;
  border-radius: 4px;
  margin-top: 12px;
  margin-bottom: 10px;
  outline: none;
}
.descriptionTitleField {
  width: 92%;
  color: #000000;
  font-size: 13px;
  font-weight: 400;
  height: 35px;
  padding: 8px;
  border: 1px solid black;
  border-radius: 4px;
  margin-bottom: 12px;
  resize: none;
  outline: none;
}

.starredContainer {
  position: relative;
}
